.input__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.digit__buttons {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.calculate__buttons {
  grid-column: span 1;
  display: grid;
  grid-template-columns: 1fr;
}