#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.nav {
  list-style: none;
  display: flex;
  background-color: #ccc;
  border-radius: .5rem;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav > li > a {
  color: #000;
  background-color: #fff;
  padding: .5rem .8rem;
  border-radius: .5rem;
}
